/* Reset styles and general styles here */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #252B48;
  display: flex;
  justify-content: space-between;
  font-color: #5B9A8B;
  font-size: 16px;
  align-item: center;
  padding: 5px;
}

.logo {
  color: #B9FFF8;
  font-size: 25px;
  font-weight: bold;
}

.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li{
  padding: 10px;
}

.menu li a{
  color: #FFFFFF;
  text-decoration: none;
}

.menu-icon {
  display: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

/* Slider styles */
.slides {
  width: 50%;
  height:450px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin: 20px auto;
}

/* Slider Animation */
@keyframes slideAnimation {
  0% {
    transform: translateX(100%);
 }
  100% {
    transform: translateX(-100%);
 }
}

.slider img {
  animation: slideAnimation 10s linear infinite;
 }

.img {
  width: 100%;
  height: 500px auto;
  object-fit: fill;
}


img{
  width: 100%;
  weight: 100%;
}

/* Our Home Section styles*/
.home {
  padding: 40px 0;
  text-align: center;
}

/* Our Package Section styles */
.package {
  /* Your package styles go here */
  padding: 40px 0;
}

.package {
  /* Your package item styles go here */
  text-align: center;
}

/* Call to Action Section styles */
.call-to-action {
  /* Your call to action styles go here */
  background-color: #f0f0f0;
  padding: 40px 0;
}

/* Contact Form styles */
form {
  /* Your form styles go here */
  display: grid;
  gap: 10px;
}

button {
  /* Your button styles go here */
  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .menu li {
    padding: 5px 0;
  }

  .menu-icon {
    display: block;
  }

  .show-menu {
    display: block;
  }

  .button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    }
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}